* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Roboto', sans-serif;
	background: rgb(0,0,0);
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.logo {
	margin-bottom: 50px;
	color: white;
	font-size: 72px;
	cursor: pointer;	
}
.menu {
}
.menu ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu ul li a{
	color: white;
	text-decoration: none;
	font-size: 30px;
	width: 118px;
	display: flex;
	justify-content: center;
}
.menu ul li {
	display: flex;
	justify-content: center;
	transition: background 0.5s;
}
.menu ul li:hover {
	background: rgba(255,255,255,0.2);
}
